pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
scipy
tqdm
torch==2.2.2+cpu
torchaudio==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
streamlit>=1.35.0
opencv-python-headless
av
streamlit-webrtc
mediapipe
optuna
